
.encabezado{
    background-color: #ede9e1;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0%;
    z-index: 100;
}
.encabezado img{
    width: 5vh;
}

.encabezado ._carrito{
    margin-right: 3vh;
    position: absolute;
    right: 0;
}

*{
    margin:0;
    padding: 0;
}

.productos{
    margin-left: 50px;
    padding: 50px;
    margin-top: -50px;
}

.card{
    margin-bottom: 30px;
    margin: 30px;    
}

.card:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
    /* box-shadow: 0 8px 15px rgba(0,0,0,0.3); */

}
.card h3, .card p{
    padding: 7px;
}

.ruta{
    display: inline-flex;
    margin-top: 80px;
    margin-left: 30px;
    font-family: 'Urbanist';
    font-size: 50px;
    font-weight: 600;
}

.ruta .breadcrumb{
    margin-left: 30px;
}
.ruta .boton{
    margin-top: 5px;
    position:flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-width: 0px;
    background-color: #e1ede7;
}

.ruta .boton img{
    width: 35px;
    margin-top: -15px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    font-weight: 600;
}

@media(max-width: 1400px) {
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}

.busqueda input{
    min-width:180px;
    width: 15vw;
    min-height: 40px;
    height: 2vw;

    position: absolute;
    top:100px;
    right:4.2%;
    background-color: #f3f3f3;
    border-radius: 10px;
    border-color: #f3f3f3;
    border-style: solid;
    outline: 0px;
}
